{% load crispy_forms_tags %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Real Cost of Car Loans</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <title></title>
    <script>
        $("a[href='#top']").click(function() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

        $(document).ready(function(){
            $("input[type='submit']").click(function(e) {
                location.hash = "";
            });
        });
    </script>
</head>
<body>
    <br />
        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <div class="alert alert-info" role="alert">
                    Real Cost compara los préstamos de concecionarios con los préstamos bancarios. Se tiene en cuenta que los concesionarios de automóviles nuevos
                    siempre hacen descuento por pagar en efectivo que no obtendrá con un préstamo bancario.
                </div>
                <div class="alert alert-info" role="alert">
                    When determining who to loan from you should be adding the rebate value to the total cost of interest 
                    from the dealership loan. In some cases you can get a big enough cash rebate that a bank loan may be 
                    the better option. Helping you to make a more informed decison as a consumer.
                </div>
                <div class="alert alert-warning" role="alert">
                    <b>Note:</b> On dealership loan calculations the rebate is used to calculate the loans true cost + interest.
                </div>
                <div class="alert alert-warning" role="alert">
                    <b>Tip:</b> Your loan should have the following properties.
                    <br />
                    <ol>
                        <li>Interest depreciates after every payment</li>
                        <li>Interest rate is fixed throughout the the life of the loan</li>
                        <li>No penalties for paying off the loan in full at any time</li>
                    </ol>
                </div>
            </div>
        </div>
    <br />
    <div class="container">
        {% crispy form %}
        <br />
        <br />
        {% if bank_total_cost %}
            <hr />
            <br />
            <h3><a name="results">Compare Bank vs Dealership Car Loan Results:</a> <small>
                <a href="#top" style="color: green">^ Top</a></small>
            </h3>
            <div class="well well-lg">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Dealership</th>
                        <th>Bank</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right alert-info"><b>Total cost including interest ($):</b></td>
                        {% if dealership_total_cost < bank_total_cost %}
                            <td class="alert-success">{{ dealership_total_cost|intcomma }} (Lower Total Cost)</td>
                            <td class="alert-danger">{{ bank_total_cost|intcomma }} (Higher Total Cost)</td>
                        {% else %}
                            <td class="alert-danger">{{ dealership_total_cost|intcomma }} (Higher Total Cost)</td>
                            <td class="alert-success">{{ bank_total_cost|intcomma }} (Lower Total Cost)</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="text-right alert-info"><b>Effective interest ($):</b></td>
                        {% if dealership_total_interest_dollars < bank_total_interest_dollars %}
                            <td class="alert-success">{{ dealership_total_interest_dollars|intcomma }} (Less Interest Paid)</td>
                            <td class="alert-danger">{{ bank_total_interest_dollars|intcomma }} (More Interest Paid)</td>
                        {% else %}
                            <td class="alert-danger">{{ dealership_total_interest_dollars|intcomma }} (More Interest Paid)</td>
                            <td class="alert-success">{{ bank_total_interest_dollars|intcomma }} (Less Interest Paid)</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="text-right alert-info"><b>Monthly payment ($):</b></td>
                        {% if dealership_monthly_payment < bank_monthly_payment %}
                            <td class="alert-success">{{ dealership_monthly_payment|intcomma }} (Lower Monthly Payments)</td>
                            <td class="alert-danger">{{ bank_monthly_payment|intcomma }} (Higher Monthly Payments)</td>
                        {% else %}
                            <td class="alert-danger">{{ dealership_monthly_payment|intcomma }} (Higher Monthly Payments)</td>
                            <td class="alert-success">{{ bank_monthly_payment|intcomma }} (Lower Monthly Payments)</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="text-right alert-info"><b>Effective APR (%):</b></td>
                        {% if real_dealership_interest_rate < real_bank_interest_rate %}
                            <td class="alert-success">{{ real_dealership_interest_rate}} (Lower APR)</td>
                            <td class="alert-danger">{{ real_bank_interest_rate}} (Higher APR)</td>
                        {% else %}
                            <td class="alert-danger">{{ real_dealership_interest_rate}} (Higher APR)</td>
                            <td class="alert-success">{{ real_bank_interest_rate}} (Lower APR)</td>
                        {% endif %}
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        {% endif %}
    </div><!-- /.container -->
</body>

<script>
    {% if bank_total_cost %}
        location.hash = "#results";
    {% endif %}
</script>

</html>
